name: Update translations

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Specific branch to update translations on'
        required: false
        type: string

jobs:
  update-translations:
    uses: lulzbot3d/CuraLE_Workflows/.github/workflows/update-translation.yml@main
    with:
      branch: ${{ inputs.branch }}
